style{
     box-sizing: border-box;
}
body {
    display: flex;
    min-height: 60vh;
    flex-direction: column;
    margin: 0;
}
#main > nav {
    background: pink;
    order: -1;
    position: absolute;
    left: 0;
    top: 0;
    height: 50vh;
}
#main {
    display: flex;
    flex: 1%;
}
 header, footer {
        background: khaki;
        height: 1vh;
        text-align:center;
    }
header, footer,nav,article, aside {
padding: 2em;
}
#main > aside {
    background: aquamarine;
    flex: 0 0 20vw;
}
#main > article {
    flex: 0 0 60vw;
    text-align:  center;
}
